.shadow
{
	font-size: 28px;
	text-shadow: 2px 2px #000000;
}

#back	
{
	background: url(img/bg.jpg);
	opacity:0.4;
	position:fixed;
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
}

img {
	opacity:0.6;
}

#studentform {
	display:none;
}

#login {
	width: 100%;
}

#teacherButton {
	float:left;
}

#studentButton {
	float:right;
}